*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
header{
     position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(222, 222, 220);
    background: rgb(237, 236, 236);
    z-index: 999999;
    height: 70px;    
  text-align: center; 
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.malumot{
    margin-top: 100px;
    text-align: center;
     
}
.img{
    width: 30px;
    height: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
