*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: line rgb(108, 108, 108);
}
header{
     position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(222, 222, 220);
    background: rgb(237, 236, 236);
    z-index: 999999;
    height: 70px;    
  text-align: center; 
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.malumot{
    margin-top: 110px;
    text-align: center;
     
}
.img{
    width: 30px;
    height: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.cards{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}


.section2{
     display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 77%;
    height: 60px;
    padding: 15px;
    display: flex;
    align-items: center;
     gap: 40px;
     border: 1px solid silver;
     border-radius: 8px;
     margin-bottom: 50px;
}
 .adres{
 font-weight: 400;
 width: 220px;
 font-size: 18px;
 line-height: 24px;
letter-spacing: 0px;
 color: #191919;
}
label{
    width: 60%;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 8px;
}
#input{
     border:  none;
    padding: 5px;
}

.tugmacha{
    width: 150px;
    height: 40px;
    text-align: center;
    background: #FF7010;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    color: whitesmoke;
}


.pitsa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}


.card{
    width: 270px;
    height: 480px;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding-top: 10px;

}

.menyular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.new{
    background: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    position: relative;
    top: 20px;
}

.peperoniy{
    width: 240px;
    padding-left: 20px;
}

.chili{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    padding-left: 20px;
}

.sir{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #191919;
    padding-left: 20px;
    padding-right: 17px;
    padding-bottom: 20px;
    padding-top: 10px;
}


.price{
 font-weight: 600;
 font-size: 18px;
 line-height: 24px;
letter-spacing: 0px;
text-align: right;
 color: #FF7010;
}

.inludes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.dicrec{
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls{
    color: #FF7010;
}


.add{
    width: 70px;
    background: #FF7010;
    border: none;
    padding: 4px;
    color: #F0F0F0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

}